<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/expensesList.css" />
    <title>Document</title>
  </head>
  <body>
    <%-  include("../partials/header.ejs") %>
    <h1>this is expenses list page</h1>
    <% expenses.forEach(expense => {%>
    <div class="card">
      <h2>Id: <%= expense.id %> </h2>
      <h2>Name: <%= expense .name %></h2>
      <h2>Age: <%= expense .age %></h2>
      <h2>Height: <%= expense .height %></h2>
      <a href="/expenses-list/<%= expense.id %>">show more</a>
      <button
        class="btn"
        id="<%= expense.id %>"
        onclick="deleteExpense('<%= expense.id %>')"
      >
        Delete
      </button>
      <a href="/update/<%= expense.id %>">update</a>
    </div>
    <%}) %>
    <%-  include("../partials/footer.ejs") %>
    <script src="/js/deleteExpense.js"></script>
  </body>
</html>
